.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  box-shadow: 0px 20px 34px 0px rgba(0, 41, 158, 0.1);

  -webkit-box-shadow: 0px 20px 34px 0px rgba(0, 41, 158, 0.1);
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
